# deps
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
.turbo/
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env
.env.local
.env.*.local
!.env.example

# supabase
supabase/.branches/
supabase/.temp/

# misc
.DS_Store
*.log
coverage/
.vercel/
